* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
}

h3 {
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar .search-container {
    float: right;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 50px;
    border-radius: 11px;
    margin-right: 150px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 20px system-ui;
    color: #fff;
    padding: 6px 9px;
    height: 100%;
    width: 100%;
}

.thumbnail {
    height: 350px;
    width: 350px;
    border-radius: 19px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;

}

.card {
    border-radius: 19px;
    padding: 15px;
    align-items: center;
    text-align: center;
    background-color: #151f30;
}